<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/aside.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/project_header.css}">
	
    <title>Jira</title>
</head>
<body>
	<header th:replace="~{header :: headerFragment}"></header>
	<!-- 기본 템플릿 안에 삽입될 내용 Start -->
	<th:block layout:fragment="content"></th:block>
	<!-- 기본 템플릿 안에 삽입될 내용 End -->
	<!-- 자바스크립트 Start -->
	<th:block layout:fragment="script"></th:block>
	<!-- 자바스크립트 End -->
</body>
</html>